<!-- Validation failure messages -->
<% if @floorplan.errors.any? %>
  <% @floorplan.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Floorplan</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_floorplan" method="post" enctype="multipart/form-data">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for image -->
      <div class="form-group">
        <label for="image" class="control-label">
          Floorplan to Upload
        </label>

        <input type="file" id="image" name="image" class="form-control">
      </div>

      <!-- Label and input for client_approved -->
      <!-- <div class="checkbox">
        <label for="client_approved">
          <input type="checkbox" id="client_approved" name="client_approved" value="1" <%= "checked" if @floorplan.client_approved %>>
          Client approved
        </label>
      </div> -->

      <!-- Label and input for project_id -->
      <div class="form-group">
        <label for="project_id" class="control-label">
          Relevant Project
        </label>

        <%= collection_select(:floorplan, :project_id, Project.all, :id, :project_name, {:prompt => 'Select A Project', :selected => params[:id].to_i}, {:name => "project_id", :id => "project_id"}) %>

      </div>

      <button class="btn btn-success">
        Create Floorplan
      </button>
      or
      <a href="/floorplans">Cancel</a>
    </form>
  </div>
</div>
